.app {
        min-height: 98.5vh;
        border: 8px solid #39445a93;
        /* background-image: url('../../public/img/ques1.png'); */
        /* background-color: white; */
        margin: 5px;
        padding: 5px;
      }
