/* .main{
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.main h1{
    margin-top: -50px;
}
.pagecontainer {
    display: flex;
    height: 100vh;
    flex-direction: column;
  } */

  .counts{
      margin: 12px;
      color: var(--text-color-secondary);
  }